// Font variables
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono&display=swap');

$normal-font: 'Roboto', sans-serif;
$input-font: 'Space Mono', monospace;

// Color variables
// Source: https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500
$light-cornflower-blue: #8ECAE6;
$blue-green: #219EBC;
$prussian-blue: #023047;
$honey-yellow: #FFB703;
$orange: #FB8500;