@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin normal-font($size) {
  font-family: $normal-font;
  font-size: $size;
}

@mixin input-font {
  font-family: $input-font;
  font-size: 1.2rem;
}